p{
    color: blue;
    font-size: 20px;
}
 /* h4{
    text-transform: capitalize;
 } */

.uppercase
{
    text-transform: uppercase;
}
.cursive
{
    font-family: cursive;
}

#blog-desc
{
    color: #3c544a;
}
#blog-title:hover{
    color: orange;
}